@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");
@keyframes slowSlide {
  0%,
  2% {
    opacity: 0;
    transform: scale(1.2) translateX(0px);
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  98%,
  100% {
    transform: scale(1.2) translateX(-5%);
    opacity: 0;
  }
}

@keyframes lineloop {
  0% {
    transform: translate(10px, -20px);
  }

  20% {
    transform: translate(30px, -10px);
  }

  40% {
    transform: translate(10px, -20px);
  }

  60% {
    transform: translate(-20px, -30px);
  }

  80% {
    transform: translate(-10px, -30px);
  }

  100% {
    transform: translate(10px, -20px);
  }
}

:root {
  --font: "Montserrat", sans-serif;
  --subBg: #f5f5f5;
  --max-width: 1140px;
}

html,
body {
  padding: 0;
  margin: 0;
  //overflow: hidden;
  overflow-x: hidden !important;
  width: 100vw;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

nav {
  color: white;
  a {
    color: currentColor;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 300ms;

    &:hover {
      &:nth-child(1),
      &:nth-child(5) {
        color: hsl(240, 100%, 74%);
      }

      &:nth-child(2),
      &:nth-child(6) {
        color: rgb(255, 175, 122);
      }

      &:nth-child(3) {
        color: hsl(327, 100%, 74%);
      }

      &:nth-child(4) {
        color: hsl(138, 52%, 49%);
      }
    }
  }
}

.disabled {
  opacity: 0.3;
}

#deskNav {
  position: fixed;
  top: 0;
  height: 6rem;
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem 5rem;
  gap: 2.5rem;
  z-index: 999;
  transition: background 500ms linear, backdrop-filter 500ms linear;

  &:hover {
    background: #f5f5f511;
    backdrop-filter: blur(5px);
  }
}

#mobileNav {
  position: fixed !important;
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  padding: 5rem 2rem;
  backdrop-filter: blur(20px);
  background: #f5f5f511;
  left: 0 !important;
  top: 0 !important;
  z-index: 999;
  display: none;
  transform: translateX(-100%);
  transition: transform 500ms ease;

  .navMBtn {
    position: absolute;
    margin: 0;
    padding: 0;
    background: transparent;
    backdrop-filter: unset;
    i {
      font-size: 2.5rem;
    }

    &:nth-child(1) {
      top: 0;
      right: 0;
      margin: 1rem;
    }

    &:nth-child(2) {
      top: 0;
      right: -80px;
      margin: 1rem;
    }
  }
}

.hero {
  width: 99vw;
  height: 100vh;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    z-index: -2;
  }
}

.imageSection,
.imgObj {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.imgObj {
  background-position: 0% center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.2);
  background-image: url("res/images/1.jpg");
  z-index: -1;

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: radial-gradient(
      84.78% 84.78% at 50% 50%,
      rgba(0, 0, 0, 0.62) 0%,
      rgba(0, 0, 0, 0.434) 100%
    );
  }
}

#lines {
  height: 111vh;
  opacity: 0.5;
  animation: lineloop 20000ms linear 0ms infinite;
}

#clan {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  gap: 1rem;
}

#logo {
  margin-top: 5rem;
  width: clamp(8rem, 70vw, 18rem);
}

button {
  position: relative;
  backdrop-filter: blur(7px);
  background: #c4c4c44a;
  border: none;
  cursor: pointer;

  width: fit-content;
  padding: 1rem 1rem;
  padding-left: 4rem;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: white;
  border-radius: 7px;
  transform-origin: left;
  transition: transform 500ms ease, color 500ms, background 500ms;

  svg {
    position: absolute;
    top: 0;
    left: -3px;
    width: 3.6rem;
    height: 3.6rem;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.849);
    color: rgb(17, 17, 17);

    transform: translateY(-4px);
  }

  &:active {
    transform: scale(0.9);
  }
}

.about {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0rem;

  .wrapper {
    max-width: var(--max-width);
    //background: red;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .logoContainer {
    img {
      width: 14rem;
    }
  }

  .paragraph {
    width: 60ch;
    line-height: 38px;
    letter-spacing: 0.04em;
    opacity: 0.9;
  }
}

.follow {
  width: inherit;
  min-height: 100vh;
  background: white;
  padding: 5%;

  h1 {
    font-weight: 800;
    font-family: var(--font);
    font-size: clamp(3rem, 3vw, 10rem);
  }

  .grid {
    //background: red;
    width: 100%;
    $cardWidth: 22rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, $cardWidth);
    gap: 4rem;
    margin-top: 4rem;
    //height: 100px;

    .card {
      position: relative;
      aspect-ratio: 40 / 42;
      width: $cardWidth;
      background: white;
      box-shadow: 0px 18px 31px rgba(0, 0, 0, 0.19);
      border-radius: 11px;
      transition: transform 500ms;

      &:hover {
        transform: translateY(-2px);
        .cover {
          filter: saturate(1);
        }
      }

      .cover {
        position: relative;
        width: 100%;
        aspect-ratio: 40 / 24;
        object-fit: cover;
        border-radius: 11px 11px 0px 0px;
        background-repeat: no-repeat;
        background-size: cover;
        filter: saturate(0);
        transition: filter 300ms;

        &::before {
          position: absolute;
          inset: 0;
          content: "";
          background: #00000014;
          border-radius: 11px 11px 0px 0px;
        }
      }

      h4 {
        font-weight: 800;
        text-transform: uppercase;
        margin-left: 1rem;
        margin-bottom: 0.8rem;
        font-size: 0.9rem;
        letter-spacing: 1px;
      }

      .links {
        margin-left: 1rem;
        a {
          margin-right: 1.4rem;
          transition: transform 500ms ease;

          &:hover {
            i[class="ri-twitch-fill"] {
              color: #6441a5;
            }

            i[class="ri-youtube-fill"] {
              color: #f50012;
            }

            i[class="ri-github-line"] {
              color: #161b22;
            }
          }
        }
        i {
          color: #363636;
          font-size: 2.5rem;
          transition: color 280ms;
        }
      }

      .cardOwner {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        margin-right: 1rem;
        margin-bottom: 1rem;
        letter-spacing: 1px;
        color: #1a1a1a;
        span {
          opacity: 0.6;
          font-size: 1rem;
          color: #2c2c2c;
        }
        font-weight: 800;
        font-size: 1.8rem;
      }
    }

    .card.resource {
      height: auto !important;
      .cover {
        filter: unset;
      }

      p {
        margin: 1rem;
        line-height: 1.8rem;
        font-weight: 600;
        font-size: 0.9rem;
        opacity: 0.7;
      }

      .resourceActions {
        padding: 0.1rem 1rem;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-end;

        a {
          cursor: pointer;
          width: 3rem !important;
          height: 3rem !important;
          display: grid;
          place-content: center;
          border: 1px solid #36363650;
          border-radius: 100px;
          font-size: 1.5rem;
          color: #3636369a;
          transition: background 300ms, color 300ms;

          &:hover {
            background: #363636be;
            color: white;
          }
        }
        a.disabled {
          pointer-events: none;
        }
        a.disabled:hover {
          background: white;
          color: #363636be;
        }
      }
    }
  }
}

.fp {
  background: var(--subBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0rem;

  h1 {
    margin: 0;
    font-weight: 800;
    font-size: clamp(2rem, 7vw, 3rem);
    text-align: center;
    span {
      color: #8774ff;
    }
  }

  .list-of-games {
    display: grid;

    max-width: 900px;
    grid-template-columns: repeat(auto-fit, clamp(8rem, 90%, 15rem));
    place-content: center;
    margin-top: 3rem;
    opacity: 0.8;
    img {
      width: clamp(8rem, 90%, 15rem);
    }
  }
}

footer {
  background: var(--subBg);

  display: grid;
  place-items: center;
  padding: 8rem 0rem;
  img {
    width: clamp(30rem, 50vw, 70rem);

    &:last-child {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  // * {
  //   outline: 1px solid red;
  // }
  @keyframes slowSlide {
    0%,
    2% {
      opacity: 0;
      transform: scale(1.2) translateX(0px);
    }

    20% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }
    98%,
    100% {
      transform: scale(1.2) translateX(-5%);
      opacity: 0;
    }
  }

  .imgObj {
    background-position: center;
  }

  #lines {
    display: none;
  }
  #mobileNav {
    display: flex;
  }

  #deskNav {
    display: none !important;
  }

  #logo {
    margin-top: 2rem;
  }

  button {
    font-size: 0.8rem;
    svg {
      width: 3.4rem;
      height: 3.4rem;
    }
  }

  .about {
    padding: 5rem 0rem;
    .wrapper {
      flex-direction: column;
      padding: 0rem 1.5rem;
      gap: 2rem;
      .logoContainer {
        img {
          width: 10rem;
        }
      }
      .paragraph {
        font-size: 0.9rem;
        width: fit-content;
      }
    }
  }

  .fp {
    .list-of-games {
      display: grid;
      width: 100%;
      max-width: 900px;
      grid-template-columns: repeat(auto-fill, 10rem);
      place-items: center;
      margin-top: 3rem;
      opacity: 0.8;
      img {
        width: 10rem;
      }
    }
  }

  .follow {
    padding-bottom: 5rem;
    .grid {
      //background: red;
      width: 100%;
      $cardWidth: 100%;

      display: grid;
      grid-template-columns: 1fr;

      .card {
        width: $cardWidth;
      }
    }
  }

  footer {
    background: var(--subBg);

    display: grid;
    place-items: center;
    padding: 2rem 0rem;
    img {
      width: clamp(30rem, 50vw, 70rem);

      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
        width: 5rem;
      }
    }
  }
}

.inResources {
  button,
  a {
    color: #161b22;
  }

  a.disabled {
    opacity: 0.2;
  }
}

#deskNav.inResources {
  background: white;
}
